* {
	box-sizing: border-box;
}

.container {
	text-align: left;
	font-family: "Montserrat", sans-serif;
}

#datetime-picker {
	border: 1px solid #808080;
	border-radius: 4px;
	width: 272px;
	height: 40px;

	color: #2e2f42;
	padding-left: 16px;
	margin-bottom: 32px;

	font-size: 16px;
	letter-spacing: 0.04em;
}

#datetime-picker:hover {
	border: 1px solid #000;
}

#datetime-picker:focus {
	outline: transparent;
	border: 1px solid #4e75ff;
}

#datatime-picker:disabled {
	border: 1px solid #808080;
	background: #fafafa;
	color: #808080;
}

.timer {
	display: flex;
	gap: 24px
}

.timer .field {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 40px;

	text-transform: uppercase;
}

.timer .field .value {
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: 0.04em;
	color: #2e2f42;
}

.timer .field .label {
	color: #2e2f42;
}

button[data-start] {
	border: none;
	border-radius: 8px;
	padding: 8px 16px;
	width: 75px;
	height: 40px;
	background: #4e75ff;
	vertical-align: top;

	font-weight: 500;
	letter-spacing: 0.04em;
	color: #fff;
}

button[data-start]:hover { 
	border: none;
	background: #6c8cff;
}

button[data-start]:disabled {
	color: #989898;
	background: #cfcfcf;
}