.form {
	display: flex;
	flex-direction: column;
	width: 225px;
}

.form > label {
	display: flex;
	flex-direction: column;
}

.form input[type="number"] {
	border: 1px solid #808080;
	border-radius: 4px;
	height: 40px;

	color: #2e2f42;
	padding-left: 16px;

	font-size: 16px;
	letter-spacing: 0.04em;
}

.form input[type="number"]:hover {
	border: 1px solid #000;
}

.form input[type="number"]:focus {
	outline: transparent;
	border: 1px solid #4e75ff;
}

.form > fieldset {
	display: flex;
	gap: 20px;
	margin: 10px 0 10px;
}